# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
amia

# VS Project
/packages/SFML/include/SFML
/packages/SFML/lib
/.vs/AmiaVS
/Debug
/packages/SFML
/x64
/AmiaVS.sln
/AmiaVS.vcxproj
/AmiaVS.vcxproj.filters
/AmiaVS.vcxproj.user
/AmiaMondMond
/.gitattributes
